<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%-12thread] %-5level %class{36}.%method - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%-12thread] %-5level %class{36}.%method - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>

    <root level="debug">
        <appender-ref ref="${gr.james.socialinfluence.tournament.appender:-stdout}"/>
    </root>

</configuration>
